In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.max_columns',250)
pd.set_option('display.max_rows',200)

Load Dataset application_train.csv

In [2]:
#load dataset
df_train=pd.read_csv('application_train.csv')
df_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,"202,500.00","406,597.50","24,700.50","351,000.00",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.02,-9461,-637,"-3,648.00",-2120,NaN,1,1,0,1,1,0,Laborers,1.00,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.08,0.26,0.14,0.02,0.04,0.97,0.62,0.01,0.00,0.07,0.08,0.12,0.04,0.02,0.02,0.00,0.00,0.03,0.04,0.97,0.63,0.01,0.00,0.07,0.08,0.12,0.04,0.02,0.02,0.00,0.00,0.03,0.04,0.97,0.62,0.01,0.00,0.07,0.08,0.12,0.04,0.02,0.02,0.00,0.00,reg oper account,block of flats,0.01,"Stone, brick",No,2.00,2.00,2.00,2.00,"-1,134.00",0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,1.00
1,100003,0,Cash loans,F,N,N,0,"270,000.00","1,293,502.50","35,698.50","1,129,500.00",Family,State servant,Higher education,Married,House / apartment,0.00,-16765,-1188,"-1,186.00",-291,NaN,1,1,0,1,1,0,Core staff,2.00,1,1,MONDAY,11,0,0,0,0,0,0,School,0.31,0.62,NaN,0.10,0.05,0.99,0.80,0.06,0.08,0.03,0.29,0.33,0.01,0.08,0.05,0.00,0.01,0.09,0.05,0.99,0.80,0.05,0.08,0.03,0.29,0.33,0.01,0.08,0.06,0.00,0.00,0.10,0.05,0.99,0.80,0.06,0.08,0.03,0.29,0.33,0.01,0.08,0.06,0.00,0.01,reg oper account,block of flats,0.07,Block,No,1.00,0.00,1.00,0.00,-828.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00
2,100004,0,Revolving loans,M,Y,Y,0,"67,500.00","135,000.00","6,750.00","135,000.00",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.01,-19046,-225,"-4,260.00",-2531,26.00,1,1,1,1,1,0,Laborers,1.00,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.56,0.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,-815.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00
3,100006,0,Cash loans,F,N,Y,0,"135,000.00","312,682.50","29,686.50","297,000.00",Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.01,-19005,-3039,"-9,833.00",-2437,NaN,1,1,0,1,0,0,Laborers,2.00,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00,0.00,2.00,0.00,-617.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,"121,500.00","513,000.00","21,865.50","513,000.00",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.03,-19932,-3038,"-4,311.00",-3458,NaN,1,1,0,1,0,0,Core staff,1.00,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,"-1,106.00",0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,"157,500.00","254,700.00","27,558.00","225,000.00",Unaccompanied,Working,Secondary / secondary special,Separated,With parents,0.03,-9327,-236,"-8,456.00",-1982,NaN,1,1,0,1,0,0,Sales staff,1.00,1,1,THURSDAY,15,0,0,0,0,0,0,Services,0.15,0.68,NaN,0.20,0.09,0.99,0.83,0.02,0.22,0.10,0.60,0.27,0.06,0.15,0.20,0.08,0.11,0.10,0.02,0.98,0.71,0.02,0.08,0.03,0.46,0.04,0.01,0.09,0.09,0.00,0.01,0.20,0.09,0.99,0.83,0.02,0.22,0.10,0.60,0.27,0.06,0.15,0.20,0.08,0.11,reg oper account,block of flats,0.29,"Stone, brick",No,0.00,0.00,0.00,0.00,-273.00,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,"72,000.00","269,550.00","12,001.50","225,000.00",Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment,0.03,-20775,365243,"-4,388.00",-4090,NaN,1,0,0,1,1,0,NaN,1.00,2,2,MONDAY,8,0,0,0,0,0,0,XNA,NaN,0.12,NaN,0.02,0.04,0.97,0.63,0.00,0.00,0.10,0.08,0.12,0.06,0.02,0.03,0.00,0.00,0.03,0.05,0.97,0.64,0.00,0.00,0.10,0.08,0.12,0.06,0.02,0.03,0.00,0.00,0.03,0.04,0.97,0.63,0.00,0.00,0.10,0.08,0.12,0.06,0.02,0.03,0.00,0.00,reg oper account,block of flats,0.02,"Stone, brick",No,0.00,0.00,0.00,0.00,0.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,"153,000.00","677,664.00","29,979.00","585,000.00",Unaccompanied,Working,Higher education,Separated,House / apartment,0.01,-14966,-7921,"-6,737.00",-5150,NaN,1,1,0,1,0,1,Managers,1.00,3,3,THURSDAY,9,0,0,0,0,1,1,School,0.74,0.54,0.22,0.10,0.09,0.98,0.75,0.01,0.00,0.21,0.17,0.21,NaN,0.08,0.93,0.00,0.00,0.10,0.09,0.98,0.76,0.01,0.00,0.21,0.17,0.21,NaN,0.09,0.97,0.00,0.00,0.10,0.09,0.98,0.75,0.01,0.00,0.21,0.17,0.21,NaN,0.09,0.94,0.00,0.00,reg oper account,block of flats,0.80,Panel,No,6.00,0.00,6.00,0.00,"-1,909.00",0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.00,0.00,0.00,1.00,0.00,1.00
307509,456254,1,Cash loans,F,N,Y,0,"171,000.00","370,107.00","20,205.00","319,500.00",Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.01,-11961,-4786,"-2,562.00",-931,NaN,1,1,0,1,0,0,Laborers,2.00,2,2,WEDNESDAY,9,0,0,0,1,1,0,Business Entity Type 1,NaN,0.51,0.66,0.01,NaN,0.98,NaN,NaN,NaN,0.07,0.04,NaN,NaN,NaN,0.01,NaN,NaN,0.01,NaN,0.98,NaN,NaN,NaN,0.07,0.04,NaN,NaN,NaN,0.01,NaN,NaN,0.01,NaN,0.98,NaN,NaN,NaN,0.07,0.04,NaN,NaN,NaN,0.01,NaN,NaN,NaN,block of flats,0.01,"Stone, brick",No,0.00,0.00,0.00,0.00,-322.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00
307510,456255,0,Cash loans,F,N,N,0,"157,500.00","675,000.00","49,117.50","675,000.00",Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.05,-16856,-1262,"-5,128.00",-410,NaN,1,1,1,1,1,0,Laborers,2.00,1,1,THURSDAY,20,0,0,0,0,1,1,Business Entity Type 3,0.73,0.71,0.11,0.07,0.05,0.99,NaN,0.02,0.08,0.07,0.38,NaN,NaN,NaN,0.08,NaN,0.00,0.08,0.05,0.99,NaN,0.02,0.08,0.07,0.38,NaN,NaN,NaN,0.08,NaN,0.00,0.07,0.05,0.99,NaN,0.02,0.08,0.07,0.38,NaN,NaN,NaN,0.08,NaN,0.00,NaN,block of flats,0.07,Panel,No,0.00,0.00,0.00,0.00,-787.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,0.00,2.00,0.00,1.00

In [3]:
df_train.dtypes

SK_ID_CURR                        int64
TARGET                            int64
NAME_CONTRACT_TYPE               object
CODE_GENDER                      object
FLAG_OWN_CAR                     object
FLAG_OWN_REALTY                  object
CNT_CHILDREN                      int64
AMT_INCOME_TOTAL                float64
AMT_CREDIT                      float64
AMT_ANNUITY                     float64
AMT_GOODS_PRICE                 float64
NAME_TYPE_SUITE                  object
NAME_INCOME_TYPE                 object
NAME_EDUCATION_TYPE              object
NAME_FAMILY_STATUS               object
NAME_HOUSING_TYPE                object
REGION_POPULATION_RELATIVE      float64
DAYS_BIRTH                        int64
DAYS_EMPLOYED                     int64
DAYS_REGISTRATION               float64
DAYS_ID_PUBLISH                   int64
OWN_CAR_AGE                     float64
FLAG_MOBIL                        int64
FLAG_EMP_PHONE                    int64
FLAG_WORK_PHONE                   int64
FLAG_CONT_MOBILE                  int64
FLAG_PHONE                        int64
FLAG_EMAIL                        int64
OCCUPATION_TYPE                  object
CNT_FAM_MEMBERS                 float64
REGION_RATING_CLIENT              int64
REGION_RATING_CLIENT_W_CITY       int64
WEEKDAY_APPR_PROCESS_START       object
HOUR_APPR_PROCESS_START           int64
REG_REGION_NOT_LIVE_REGION        int64
REG_REGION_NOT_WORK_REGION        int64
LIVE_REGION_NOT_WORK_REGION       int64
REG_CITY_NOT_LIVE_CITY            int64
REG_CITY_NOT_WORK_CITY            int64
LIVE_CITY_NOT_WORK_CITY           int64
ORGANIZATION_TYPE                object
EXT_SOURCE_1                    float64
EXT_SOURCE_2                    float64
EXT_SOURCE_3                    float64
APARTMENTS_AVG                  float64
BASEMENTAREA_AVG                float64
YEARS_BEGINEXPLUATATION_AVG     float64
YEARS_BUILD_AVG                 float64
COMMONAREA_AVG                  float64
ELEVATORS_AVG                   float64
ENTRANCES_AVG                   float64
FLOORSMAX_AVG                   float64
FLOORSMIN_AVG                   float64
LANDAREA_AVG                    float64
LIVINGAPARTMENTS_AVG            float64
LIVINGAREA_AVG                  float64
NONLIVINGAPARTMENTS_AVG         float64
NONLIVINGAREA_AVG               float64
APARTMENTS_MODE                 float64
BASEMENTAREA_MODE               float64
YEARS_BEGINEXPLUATATION_MODE    float64
YEARS_BUILD_MODE                float64
COMMONAREA_MODE                 float64
ELEVATORS_MODE                  float64
ENTRANCES_MODE                  float64
FLOORSMAX_MODE                  float64
FLOORSMIN_MODE                  float64
LANDAREA_MODE                   float64
LIVINGAPARTMENTS_MODE           float64
LIVINGAREA_MODE                 float64
NONLIVINGAPARTMENTS_MODE        float64
NONLIVINGAREA_MODE              float64
APARTMENTS_MEDI                 float64
BASEMENTAREA_MEDI               float64
YEARS_BEGINEXPLUATATION_MEDI    float64
YEARS_BUILD_MEDI                float64
COMMONAREA_MEDI                 float64
ELEVATORS_MEDI                  float64
ENTRANCES_MEDI                  float64
FLOORSMAX_MEDI                  float64
FLOORSMIN_MEDI                  float64
LANDAREA_MEDI                   float64
LIVINGAPARTMENTS_MEDI           float64
LIVINGAREA_MEDI                 float64
NONLIVINGAPARTMENTS_MEDI        float64
NONLIVINGAREA_MEDI              float64
FONDKAPREMONT_MODE               object
HOUSETYPE_MODE                   object
TOTALAREA_MODE                  float64
WALLSMATERIAL_MODE               object
EMERGENCYSTATE_MODE              object
OBS_30_CNT_SOCIAL_CIRCLE        float64
DEF_30_CNT_SOCIAL_CIRCLE        float64
OBS_60_CNT_SOCIAL_CIRCLE        float64
DEF_60_CNT_SOCIAL_CIRCLE        float64
DAYS_LAST_PHONE_CHANGE          float64
FLAG_DOCUMENT_2                   int64
FLAG_DOCUMENT_3                   int64
FLAG_DOCUMENT_4                   int64
FLAG_DOCUMENT_5                   int64
FLAG_DOCUMENT_6                   int64
FLAG_DOCUMENT_7                   int64
FLAG_DOCUMENT_8                   int64
FLAG_DOCUMENT_9                   int64
FLAG_DOCUMENT_10                  int64
FLAG_DOCUMENT_11                  int64
FLAG_DOCUMENT_12                  int64
FLAG_DOCUMENT_13                  int64
FLAG_DOCUMENT_14                  int64
FLAG_DOCUMENT_15                  int64
FLAG_DOCUMENT_16                  int64
FLAG_DOCUMENT_17                  int64
FLAG_DOCUMENT_18                  int64
FLAG_DOCUMENT_19                  int64
FLAG_DOCUMENT_20                  int64
FLAG_DOCUMENT_21                  int64
AMT_REQ_CREDIT_BUREAU_HOUR      float64
AMT_REQ_CREDIT_BUREAU_DAY       float64
AMT_REQ_CREDIT_BUREAU_WEEK      float64
AMT_REQ_CREDIT_BUREAU_MON       float64
AMT_REQ_CREDIT_BUREAU_QRT       float64
AMT_REQ_CREDIT_BUREAU_YEAR      float64
dtype: object

In [4]:
df_train.isna().sum()

SK_ID_CURR                           0
TARGET                               0
NAME_CONTRACT_TYPE                   0
CODE_GENDER                          0
FLAG_OWN_CAR                         0
FLAG_OWN_REALTY                      0
CNT_CHILDREN                         0
AMT_INCOME_TOTAL                     0
AMT_CREDIT                           0
AMT_ANNUITY                         12
AMT_GOODS_PRICE                    278
NAME_TYPE_SUITE                   1292
NAME_INCOME_TYPE                     0
NAME_EDUCATION_TYPE                  0
NAME_FAMILY_STATUS                   0
NAME_HOUSING_TYPE                    0
REGION_POPULATION_RELATIVE           0
DAYS_BIRTH                           0
DAYS_EMPLOYED                        0
DAYS_REGISTRATION                    0
DAYS_ID_PUBLISH                      0
OWN_CAR_AGE                     202929
FLAG_MOBIL                           0
FLAG_EMP_PHONE                       0
FLAG_WORK_PHONE                      0
FLAG_CONT_MOBILE                     0
FLAG_PHONE                           0
FLAG_EMAIL                           0
OCCUPATION_TYPE                  96391
CNT_FAM_MEMBERS                      2
REGION_RATING_CLIENT                 0
REGION_RATING_CLIENT_W_CITY          0
WEEKDAY_APPR_PROCESS_START           0
HOUR_APPR_PROCESS_START              0
REG_REGION_NOT_LIVE_REGION           0
REG_REGION_NOT_WORK_REGION           0
LIVE_REGION_NOT_WORK_REGION          0
REG_CITY_NOT_LIVE_CITY               0
REG_CITY_NOT_WORK_CITY               0
LIVE_CITY_NOT_WORK_CITY              0
ORGANIZATION_TYPE                    0
EXT_SOURCE_1                    173378
EXT_SOURCE_2                       660
EXT_SOURCE_3                     60965
APARTMENTS_AVG                  156061
BASEMENTAREA_AVG                179943
YEARS_BEGINEXPLUATATION_AVG     150007
YEARS_BUILD_AVG                 204488
COMMONAREA_AVG                  214865
ELEVATORS_AVG                   163891
ENTRANCES_AVG                   154828
FLOORSMAX_AVG                   153020
FLOORSMIN_AVG                   208642
LANDAREA_AVG                    182590
LIVINGAPARTMENTS_AVG            210199
LIVINGAREA_AVG                  154350
NONLIVINGAPARTMENTS_AVG         213514
NONLIVINGAREA_AVG               169682
APARTMENTS_MODE                 156061
BASEMENTAREA_MODE               179943
YEARS_BEGINEXPLUATATION_MODE    150007
YEARS_BUILD_MODE                204488
COMMONAREA_MODE                 214865
ELEVATORS_MODE                  163891
ENTRANCES_MODE                  154828
FLOORSMAX_MODE                  153020
FLOORSMIN_MODE                  208642
LANDAREA_MODE                   182590
LIVINGAPARTMENTS_MODE           210199
LIVINGAREA_MODE                 154350
NONLIVINGAPARTMENTS_MODE        213514
NONLIVINGAREA_MODE              169682
APARTMENTS_MEDI                 156061
BASEMENTAREA_MEDI               179943
YEARS_BEGINEXPLUATATION_MEDI    150007
YEARS_BUILD_MEDI                204488
COMMONAREA_MEDI                 214865
ELEVATORS_MEDI                  163891
ENTRANCES_MEDI                  154828
FLOORSMAX_MEDI                  153020
FLOORSMIN_MEDI                  208642
LANDAREA_MEDI                   182590
LIVINGAPARTMENTS_MEDI           210199
LIVINGAREA_MEDI                 154350
NONLIVINGAPARTMENTS_MEDI        213514
NONLIVINGAREA_MEDI              169682
FONDKAPREMONT_MODE              210295
HOUSETYPE_MODE                  154297
TOTALAREA_MODE                  148431
WALLSMATERIAL_MODE              156341
EMERGENCYSTATE_MODE             145755
OBS_30_CNT_SOCIAL_CIRCLE          1021
DEF_30_CNT_SOCIAL_CIRCLE          1021
OBS_60_CNT_SOCIAL_CIRCLE          1021
DEF_60_CNT_SOCIAL_CIRCLE          1021
DAYS_LAST_PHONE_CHANGE               1
FLAG_DOCUMENT_2                      0
FLAG_DOCUMENT_3                      0
FLAG_DOCUMENT_4                      0
FLAG_DOCUMENT_5                      0
FLAG_DOCUMENT_6                      0
FLAG_DOCUMENT_7                      0
FLAG_DOCUMENT_8                      0
FLAG_DOCUMENT_9                      0
FLAG_DOCUMENT_10                     0
FLAG_DOCUMENT_11                     0
FLAG_DOCUMENT_12                     0
FLAG_DOCUMENT_13                     0
FLAG_DOCUMENT_14                     0
FLAG_DOCUMENT_15                     0
FLAG_DOCUMENT_16                     0
FLAG_DOCUMENT_17                     0
FLAG_DOCUMENT_18                     0
FLAG_DOCUMENT_19                     0
FLAG_DOCUMENT_20                     0
FLAG_DOCUMENT_21                     0
AMT_REQ_CREDIT_BUREAU_HOUR       41519
AMT_REQ_CREDIT_BUREAU_DAY        41519
AMT_REQ_CREDIT_BUREAU_WEEK       41519
AMT_REQ_CREDIT_BUREAU_MON        41519
AMT_REQ_CREDIT_BUREAU_QRT        41519
AMT_REQ_CREDIT_BUREAU_YEAR       41519
dtype: int64

In [5]:
df_train.isna().mean()

SK_ID_CURR                     0.00
TARGET                         0.00
NAME_CONTRACT_TYPE             0.00
CODE_GENDER                    0.00
FLAG_OWN_CAR                   0.00
FLAG_OWN_REALTY                0.00
CNT_CHILDREN                   0.00
AMT_INCOME_TOTAL               0.00
AMT_CREDIT                     0.00
AMT_ANNUITY                    0.00
AMT_GOODS_PRICE                0.00
NAME_TYPE_SUITE                0.00
NAME_INCOME_TYPE               0.00
NAME_EDUCATION_TYPE            0.00
NAME_FAMILY_STATUS             0.00
NAME_HOUSING_TYPE              0.00
REGION_POPULATION_RELATIVE     0.00
DAYS_BIRTH                     0.00
DAYS_EMPLOYED                  0.00
DAYS_REGISTRATION              0.00
DAYS_ID_PUBLISH                0.00
OWN_CAR_AGE                    0.66
FLAG_MOBIL                     0.00
FLAG_EMP_PHONE                 0.00
FLAG_WORK_PHONE                0.00
FLAG_CONT_MOBILE               0.00
FLAG_PHONE                     0.00
FLAG_EMAIL                     0.00
OCCUPATION_TYPE                0.31
CNT_FAM_MEMBERS                0.00
REGION_RATING_CLIENT           0.00
REGION_RATING_CLIENT_W_CITY    0.00
WEEKDAY_APPR_PROCESS_START     0.00
HOUR_APPR_PROCESS_START        0.00
REG_REGION_NOT_LIVE_REGION     0.00
REG_REGION_NOT_WORK_REGION     0.00
LIVE_REGION_NOT_WORK_REGION    0.00
REG_CITY_NOT_LIVE_CITY         0.00
REG_CITY_NOT_WORK_CITY         0.00
LIVE_CITY_NOT_WORK_CITY        0.00
ORGANIZATION_TYPE              0.00
EXT_SOURCE_1                   0.56
EXT_SOURCE_2                   0.00
EXT_SOURCE_3                   0.20
APARTMENTS_AVG                 0.51
BASEMENTAREA_AVG               0.59
YEARS_BEGINEXPLUATATION_AVG    0.49
YEARS_BUILD_AVG                0.66
COMMONAREA_AVG                 0.70
ELEVATORS_AVG                  0.53
ENTRANCES_AVG                  0.50
FLOORSMAX_AVG                  0.50
FLOORSMIN_AVG                  0.68
LANDAREA_AVG                   0.59
LIVINGAPARTMENTS_AVG           0.68
LIVINGAREA_AVG                 0.50
NONLIVINGAPARTMENTS_AVG        0.69
NONLIVINGAREA_AVG              0.55
APARTMENTS_MODE                0.51
BASEMENTAREA_MODE              0.59
YEARS_BEGINEXPLUATATION_MODE   0.49
YEARS_BUILD_MODE               0.66
COMMONAREA_MODE                0.70
ELEVATORS_MODE                 0.53
ENTRANCES_MODE                 0.50
FLOORSMAX_MODE                 0.50
FLOORSMIN_MODE                 0.68
LANDAREA_MODE                  0.59
LIVINGAPARTMENTS_MODE          0.68
LIVINGAREA_MODE                0.50
NONLIVINGAPARTMENTS_MODE       0.69
NONLIVINGAREA_MODE             0.55
APARTMENTS_MEDI                0.51
BASEMENTAREA_MEDI              0.59
YEARS_BEGINEXPLUATATION_MEDI   0.49
YEARS_BUILD_MEDI               0.66
COMMONAREA_MEDI                0.70
ELEVATORS_MEDI                 0.53
ENTRANCES_MEDI                 0.50
FLOORSMAX_MEDI                 0.50
FLOORSMIN_MEDI                 0.68
LANDAREA_MEDI                  0.59
LIVINGAPARTMENTS_MEDI          0.68
LIVINGAREA_MEDI                0.50
NONLIVINGAPARTMENTS_MEDI       0.69
NONLIVINGAREA_MEDI             0.55
FONDKAPREMONT_MODE             0.68
HOUSETYPE_MODE                 0.50
TOTALAREA_MODE                 0.48
WALLSMATERIAL_MODE             0.51
EMERGENCYSTATE_MODE            0.47
OBS_30_CNT_SOCIAL_CIRCLE       0.00
DEF_30_CNT_SOCIAL_CIRCLE       0.00
OBS_60_CNT_SOCIAL_CIRCLE       0.00
DEF_60_CNT_SOCIAL_CIRCLE       0.00
DAYS_LAST_PHONE_CHANGE         0.00
FLAG_DOCUMENT_2                0.00
FLAG_DOCUMENT_3                0.00
FLAG_DOCUMENT_4                0.00
FLAG_DOCUMENT_5                0.00
FLAG_DOCUMENT_6                0.00
FLAG_DOCUMENT_7                0.00
FLAG_DOCUMENT_8                0.00
FLAG_DOCUMENT_9                0.00
FLAG_DOCUMENT_10               0.00
FLAG_DOCUMENT_11               0.00
FLAG_DOCUMENT_12               0.00
FLAG_DOCUMENT_13               0.00
FLAG_DOCUMENT_14               0.00
FLAG_DOCUMENT_15               0.00
FLAG_DOCUMENT_16               0.00
FLAG_DOCUMENT_17               0.00
FLAG_DOCUMENT_18               0.00
FLAG_DOCUMENT_19               0.00
FLAG_DOCUMENT_20               0.00
FLAG_DOCUMENT_21               0.00
AMT_REQ_CREDIT_BUREAU_HOUR     0.14
AMT_REQ_CREDIT_BUREAU_DAY      0.14
AMT_REQ_CREDIT_BUREAU_WEEK     0.14
AMT_REQ_CREDIT_BUREAU_MON      0.14
AMT_REQ_CREDIT_BUREAU_QRT      0.14
AMT_REQ_CREDIT_BUREAU_YEAR     0.14
dtype: float64

Manipulasi Data

In [6]:
#Data train
df_train2=df_train.copy()

#Missing imputation value
df_train2['OWN_CAR_AGE'] = df_train['OWN_CAR_AGE'].fillna(0)
df_train2['OCCUPATION_TYPE'] = df_train['OCCUPATION_TYPE'].fillna('Other')

#Drop irrelevant columns
dr_col=['EXT_SOURCE_1','EXT_SOURCE_2','EXT_SOURCE_3','APARTMENTS_AVG','BASEMENTAREA_AVG','YEARS_BEGINEXPLUATATION_AVG',
               'YEARS_BUILD_AVG','COMMONAREA_AVG','ELEVATORS_AVG','ENTRANCES_AVG','FLOORSMAX_AVG','FLOORSMIN_AVG','LANDAREA_AVG',
               'LIVINGAPARTMENTS_AVG','LIVINGAREA_AVG','NONLIVINGAPARTMENTS_AVG','NONLIVINGAREA_AVG','APARTMENTS_MODE',
               'BASEMENTAREA_MODE','YEARS_BEGINEXPLUATATION_MODE','YEARS_BUILD_MODE','COMMONAREA_MODE','ELEVATORS_MODE',
               'ENTRANCES_MODE','FLOORSMAX_MODE','FLOORSMIN_MODE','LANDAREA_MODE','LIVINGAPARTMENTS_MODE','LIVINGAREA_MODE',
               'NONLIVINGAPARTMENTS_MODE','NONLIVINGAREA_MODE','APARTMENTS_MEDI','BASEMENTAREA_MEDI','YEARS_BEGINEXPLUATATION_MEDI',
               'YEARS_BUILD_MEDI','COMMONAREA_MEDI','ELEVATORS_MEDI','ENTRANCES_MEDI','FLOORSMAX_MEDI','FLOORSMIN_MEDI',
               'LANDAREA_MEDI','LIVINGAPARTMENTS_MEDI','LIVINGAREA_MEDI','NONLIVINGAPARTMENTS_MEDI','NONLIVINGAREA_MEDI',
               'FONDKAPREMONT_MODE','HOUSETYPE_MODE','TOTALAREA_MODE','WALLSMATERIAL_MODE','EMERGENCYSTATE_MODE',
               'AMT_REQ_CREDIT_BUREAU_HOUR','AMT_REQ_CREDIT_BUREAU_DAY','AMT_REQ_CREDIT_BUREAU_WEEK','AMT_REQ_CREDIT_BUREAU_MON',
               'AMT_REQ_CREDIT_BUREAU_QRT','AMT_REQ_CREDIT_BUREAU_YEAR']
df_train2=df_train2.drop(dr_col, axis=1)
df_train3=df_train2.dropna(axis=0)

In [7]:
df_train3.shape

(305185, 66)

In [8]:
print('Mising value : ', df_train3.isna().any().sum())

Mising value :  0

Load dataset bureau.csv

In [9]:
df_bureau=pd.read_csv('bureau.csv')
df_bureau.shape
df_bureau.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1716428 entries, 0 to 1716427
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   SK_ID_CURR              int64
 1   SK_ID_BUREAU            int64
 2   CREDIT_ACTIVE           object
 3   CREDIT_CURRENCY         object
 4   DAYS_CREDIT             int64
 5   CREDIT_DAY_OVERDUE      int64
 6   DAYS_CREDIT_ENDDATE     float64
 7   DAYS_ENDDATE_FACT       float64
 8   AMT_CREDIT_MAX_OVERDUE  float64
 9   CNT_CREDIT_PROLONG      int64
 10  AMT_CREDIT_SUM          float64
 11  AMT_CREDIT_SUM_DEBT     float64
 12  AMT_CREDIT_SUM_LIMIT    float64
 13  AMT_CREDIT_SUM_OVERDUE  float64
 14  CREDIT_TYPE             object
 15  DAYS_CREDIT_UPDATE      int64
 16  AMT_ANNUITY             float64
dtypes: float64(8), int64(6), object(3)
memory usage: 222.6+ MB

In [10]:
df_bureau.isna().sum()

SK_ID_CURR                      0
SK_ID_BUREAU                    0
CREDIT_ACTIVE                   0
CREDIT_CURRENCY                 0
DAYS_CREDIT                     0
CREDIT_DAY_OVERDUE              0
DAYS_CREDIT_ENDDATE        105553
DAYS_ENDDATE_FACT          633653
AMT_CREDIT_MAX_OVERDUE    1124488
CNT_CREDIT_PROLONG              0
AMT_CREDIT_SUM                 13
AMT_CREDIT_SUM_DEBT        257669
AMT_CREDIT_SUM_LIMIT       591780
AMT_CREDIT_SUM_OVERDUE          0
CREDIT_TYPE                     0
DAYS_CREDIT_UPDATE              0
AMT_ANNUITY               1226791
dtype: int64

In [11]:
df_bureau.isna().mean()

SK_ID_CURR               0.00
SK_ID_BUREAU             0.00
CREDIT_ACTIVE            0.00
CREDIT_CURRENCY          0.00
DAYS_CREDIT              0.00
CREDIT_DAY_OVERDUE       0.00
DAYS_CREDIT_ENDDATE      0.06
DAYS_ENDDATE_FACT        0.37
AMT_CREDIT_MAX_OVERDUE   0.66
CNT_CREDIT_PROLONG       0.00
AMT_CREDIT_SUM           0.00
AMT_CREDIT_SUM_DEBT      0.15
AMT_CREDIT_SUM_LIMIT     0.34
AMT_CREDIT_SUM_OVERDUE   0.00
CREDIT_TYPE              0.00
DAYS_CREDIT_UPDATE       0.00
AMT_ANNUITY              0.71
dtype: float64

Manipulasi Data Bureau

In [12]:
df_bureau2 = df_bureau.copy()
dr_col_bureau = ['DAYS_ENDDATE_FACT','AMT_CREDIT_MAX_OVERDUE','AMT_CREDIT_SUM_DEBT',
                   'AMT_CREDIT_SUM_LIMIT','AMT_ANNUITY']
df_bureau2 = df_bureau2.drop(dr_col_bureau, axis=1)
df_bureau3 = df_bureau2.dropna(axis=0)

In [13]:
df_bureau3.shape

(1610871, 12)

In [14]:
print('Mising value : ', df_bureau3.isna().any().sum())

Mising value :  0

Load Dataset bureau_balance.csv

In [15]:
df_bureau_balance=pd.read_csv('bureau_balance.csv')
df_bureau_balance.shape
df_bureau_balance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27299925 entries, 0 to 27299924
Data columns (total 3 columns):
 #   Column          Dtype
---  ------          -----
 0   SK_ID_BUREAU    int64
 1   MONTHS_BALANCE  int64
 2   STATUS          object
dtypes: int64(2), object(1)
memory usage: 624.8+ MB

In [16]:
df_bureau_balance.isna().sum()

SK_ID_BUREAU      0
MONTHS_BALANCE    0
STATUS            0
dtype: int64

In [17]:
df_bureau_balance.isna().mean()

SK_ID_BUREAU     0.00
MONTHS_BALANCE   0.00
STATUS           0.00
dtype: float64

In [18]:
df_bureau_balance.head(5)

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

Load Dataset Credit_card_balance.csv

In [19]:
df_cc_balance=pd.read_csv('credit_card_balance.csv')
df_cc_balance.shape
df_cc_balance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3840312 entries, 0 to 3840311
Data columns (total 23 columns):
 #   Column                      Dtype
---  ------                      -----
 0   SK_ID_PREV                  int64
 1   SK_ID_CURR                  int64
 2   MONTHS_BALANCE              int64
 3   AMT_BALANCE                 float64
 4   AMT_CREDIT_LIMIT_ACTUAL     int64
 5   AMT_DRAWINGS_ATM_CURRENT    float64
 6   AMT_DRAWINGS_CURRENT        float64
 7   AMT_DRAWINGS_OTHER_CURRENT  float64
 8   AMT_DRAWINGS_POS_CURRENT    float64
 9   AMT_INST_MIN_REGULARITY     float64
 10  AMT_PAYMENT_CURRENT         float64
 11  AMT_PAYMENT_TOTAL_CURRENT   float64
 12  AMT_RECEIVABLE_PRINCIPAL    float64
 13  AMT_RECIVABLE               float64
 14  AMT_TOTAL_RECEIVABLE        float64
 15  CNT_DRAWINGS_ATM_CURRENT    float64
 16  CNT_DRAWINGS_CURRENT        int64
 17  CNT_DRAWINGS_OTHER_CURRENT  float64
 18  CNT_DRAWINGS_POS_CURRENT    float64
 19  CNT_INSTALMENT_MATURE_CUM   float64
 20  NAME_CONTRACT_STATUS        object
 21  SK_DPD                      int64
 22  SK_DPD_DEF                  int64
dtypes: float64(15), int64(7), object(1)
memory usage: 673.9+ MB

In [20]:
df_cc_balance.isna().sum()

SK_ID_PREV                         0
SK_ID_CURR                         0
MONTHS_BALANCE                     0
AMT_BALANCE                        0
AMT_CREDIT_LIMIT_ACTUAL            0
AMT_DRAWINGS_ATM_CURRENT      749816
AMT_DRAWINGS_CURRENT               0
AMT_DRAWINGS_OTHER_CURRENT    749816
AMT_DRAWINGS_POS_CURRENT      749816
AMT_INST_MIN_REGULARITY       305236
AMT_PAYMENT_CURRENT           767988
AMT_PAYMENT_TOTAL_CURRENT          0
AMT_RECEIVABLE_PRINCIPAL           0
AMT_RECIVABLE                      0
AMT_TOTAL_RECEIVABLE               0
CNT_DRAWINGS_ATM_CURRENT      749816
CNT_DRAWINGS_CURRENT               0
CNT_DRAWINGS_OTHER_CURRENT    749816
CNT_DRAWINGS_POS_CURRENT      749816
CNT_INSTALMENT_MATURE_CUM     305236
NAME_CONTRACT_STATUS               0
SK_DPD                             0
SK_DPD_DEF                         0
dtype: int64

In [21]:
df_cc_balance.isna().mean()

SK_ID_PREV                   0.00
SK_ID_CURR                   0.00
MONTHS_BALANCE               0.00
AMT_BALANCE                  0.00
AMT_CREDIT_LIMIT_ACTUAL      0.00
AMT_DRAWINGS_ATM_CURRENT     0.20
AMT_DRAWINGS_CURRENT         0.00
AMT_DRAWINGS_OTHER_CURRENT   0.20
AMT_DRAWINGS_POS_CURRENT     0.20
AMT_INST_MIN_REGULARITY      0.08
AMT_PAYMENT_CURRENT          0.20
AMT_PAYMENT_TOTAL_CURRENT    0.00
AMT_RECEIVABLE_PRINCIPAL     0.00
AMT_RECIVABLE                0.00
AMT_TOTAL_RECEIVABLE         0.00
CNT_DRAWINGS_ATM_CURRENT     0.20
CNT_DRAWINGS_CURRENT         0.00
CNT_DRAWINGS_OTHER_CURRENT   0.20
CNT_DRAWINGS_POS_CURRENT     0.20
CNT_INSTALMENT_MATURE_CUM    0.08
NAME_CONTRACT_STATUS         0.00
SK_DPD                       0.00
SK_DPD_DEF                   0.00
dtype: float64

In [22]:
df_cc_balance.head(5)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.97,135000,0.00,877.50,0.00,877.50,"1,700.33","1,800.00","1,800.00",0.00,0.00,0.00,0.00,1,0.00,1.00,35.00,Active,0,0
1,2582071,363914,-1,"63,975.56",45000,"2,250.00","2,250.00",0.00,0.00,"2,250.00","2,250.00","2,250.00","60,175.08","64,875.56","64,875.56",1.00,1,0.00,0.00,69.00,Active,0,0
2,1740877,371185,-7,"31,815.22",450000,0.00,0.00,0.00,0.00,"2,250.00","2,250.00","2,250.00","26,926.42","31,460.08","31,460.08",0.00,0,0.00,0.00,30.00,Active,0,0
3,1389973,337855,-4,"236,572.11",225000,"2,250.00","2,250.00",0.00,0.00,"11,795.76","11,925.00","11,925.00","224,949.29","233,048.97","233,048.97",1.00,1,0.00,0.00,10.00,Active,0,0
4,1891521,126868,-1,"453,919.46",450000,0.00,"11,547.00",0.00,"11,547.00","22,924.89","27,000.00","27,000.00","443,044.40","453,919.46","453,919.46",0.00,1,0.00,1.00,101.00,Active,0,0

Manipulasi Data

In [23]:
df_cc_balance2 = df_cc_balance.fillna(0)
print(df_cc_balance2.isna().any().sum())

0

Load Dataset installments_payments.csv

In [24]:
df_pay=pd.read_csv('installments_payments.csv')
df_pay.shape
df_pay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13605401 entries, 0 to 13605400
Data columns (total 8 columns):
 #   Column                  Dtype
---  ------                  -----
 0   SK_ID_PREV              int64
 1   SK_ID_CURR              int64
 2   NUM_INSTALMENT_VERSION  float64
 3   NUM_INSTALMENT_NUMBER   int64
 4   DAYS_INSTALMENT         float64
 5   DAYS_ENTRY_PAYMENT      float64
 6   AMT_INSTALMENT          float64
 7   AMT_PAYMENT             float64
dtypes: float64(5), int64(3)
memory usage: 830.4 MB

In [25]:
df_pay.isna().sum()

SK_ID_PREV                   0
SK_ID_CURR                   0
NUM_INSTALMENT_VERSION       0
NUM_INSTALMENT_NUMBER        0
DAYS_INSTALMENT              0
DAYS_ENTRY_PAYMENT        2905
AMT_INSTALMENT               0
AMT_PAYMENT               2905
dtype: int64

In [26]:
df_pay.isna().mean()

SK_ID_PREV               0.00
SK_ID_CURR               0.00
NUM_INSTALMENT_VERSION   0.00
NUM_INSTALMENT_NUMBER    0.00
DAYS_INSTALMENT          0.00
DAYS_ENTRY_PAYMENT       0.00
AMT_INSTALMENT           0.00
AMT_PAYMENT              0.00
dtype: float64

In [27]:
df_pay.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.00,6,"-1,180.00","-1,187.00","6,948.36","6,948.36"
1,1330831,151639,0.00,34,"-2,156.00","-2,156.00","1,716.53","1,716.53"
2,2085231,193053,2.00,1,-63.00,-63.00,"25,425.00","25,425.00"
3,2452527,199697,1.00,3,"-2,418.00","-2,426.00","24,350.13","24,350.13"
4,2714724,167756,1.00,2,"-1,383.00","-1,366.00","2,165.04","2,160.59"

Manipulasi Data

In [28]:
df_pay2 = df_pay.dropna(axis=0)
df_pay2.shape

(13602496, 8)

In [29]:
print(df_pay2.isna().any().sum())

0

Load Dataset POS_CASH_balance.csv

In [30]:
df_pc_balance=pd.read_csv('POS_CASH_balance.csv')
df_pc_balance.shape
df_pc_balance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001358 entries, 0 to 10001357
Data columns (total 8 columns):
 #   Column                 Dtype
---  ------                 -----
 0   SK_ID_PREV             int64
 1   SK_ID_CURR             int64
 2   MONTHS_BALANCE         int64
 3   CNT_INSTALMENT         float64
 4   CNT_INSTALMENT_FUTURE  float64
 5   NAME_CONTRACT_STATUS   object
 6   SK_DPD                 int64
 7   SK_DPD_DEF             int64
dtypes: float64(2), int64(5), object(1)
memory usage: 610.4+ MB

In [31]:
df_pc_balance.isna().sum()

SK_ID_PREV                   0
SK_ID_CURR                   0
MONTHS_BALANCE               0
CNT_INSTALMENT           26071
CNT_INSTALMENT_FUTURE    26087
NAME_CONTRACT_STATUS         0
SK_DPD                       0
SK_DPD_DEF                   0
dtype: int64

In [32]:
df_pc_balance.isna().mean()

SK_ID_PREV              0.00
SK_ID_CURR              0.00
MONTHS_BALANCE          0.00
CNT_INSTALMENT          0.00
CNT_INSTALMENT_FUTURE   0.00
NAME_CONTRACT_STATUS    0.00
SK_DPD                  0.00
SK_DPD_DEF              0.00
dtype: float64

Manipulasi Data

In [33]:
df_pc_balance2 = df_pc_balance.dropna(axis=0)
df_pc_balance2.shape

(9975174, 8)

In [34]:
print(df_pc_balance2.isna().any().sum())

0

Load Dataset previous_application.csv

In [35]:
df_pv_applicat=pd.read_csv('previous_application.csv')
df_pv_applicat.shape
df_pv_applicat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670214 entries, 0 to 1670213
Data columns (total 37 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   SK_ID_PREV                   1670214 non-null  int64
 1   SK_ID_CURR                   1670214 non-null  int64
 2   NAME_CONTRACT_TYPE           1670214 non-null  object
 3   AMT_ANNUITY                  1297979 non-null  float64
 4   AMT_APPLICATION              1670214 non-null  float64
 5   AMT_CREDIT                   1670213 non-null  float64
 6   AMT_DOWN_PAYMENT             774370 non-null   float64
 7   AMT_GOODS_PRICE              1284699 non-null  float64
 8   WEEKDAY_APPR_PROCESS_START   1670214 non-null  object
 9   HOUR_APPR_PROCESS_START      1670214 non-null  int64
 10  FLAG_LAST_APPL_PER_CONTRACT  1670214 non-null  object
 11  NFLAG_LAST_APPL_IN_DAY       1670214 non-null  int64
 12  RATE_DOWN_PAYMENT            774370 non-null   float64
 13  RATE_INTEREST_PRIMARY        5951 non-null     float64
 14  RATE_INTEREST_PRIVILEGED     5951 non-null     float64
 15  NAME_CASH_LOAN_PURPOSE       1670214 non-null  object
 16  NAME_CONTRACT_STATUS         1670214 non-null  object
 17  DAYS_DECISION                1670214 non-null  int64
 18  NAME_PAYMENT_TYPE            1670214 non-null  object
 19  CODE_REJECT_REASON           1670214 non-null  object
 20  NAME_TYPE_SUITE              849809 non-null   object
 21  NAME_CLIENT_TYPE             1670214 non-null  object
 22  NAME_GOODS_CATEGORY          1670214 non-null  object
 23  NAME_PORTFOLIO               1670214 non-null  object
 24  NAME_PRODUCT_TYPE            1670214 non-null  object
 25  CHANNEL_TYPE                 1670214 non-null  object
 26  SELLERPLACE_AREA             1670214 non-null  int64
 27  NAME_SELLER_INDUSTRY         1670214 non-null  object
 28  CNT_PAYMENT                  1297984 non-null  float64
 29  NAME_YIELD_GROUP             1670214 non-null  object
 30  PRODUCT_COMBINATION          1669868 non-null  object
 31  DAYS_FIRST_DRAWING           997149 non-null   float64
 32  DAYS_FIRST_DUE               997149 non-null   float64
 33  DAYS_LAST_DUE_1ST_VERSION    997149 non-null   float64
 34  DAYS_LAST_DUE                997149 non-null   float64
 35  DAYS_TERMINATION             997149 non-null   float64
 36  NFLAG_INSURED_ON_APPROVAL    997149 non-null   float64
dtypes: float64(15), int64(6), object(16)
memory usage: 471.5+ MB

In [36]:
df_pv_applicat.isna().sum()

SK_ID_PREV                           0
SK_ID_CURR                           0
NAME_CONTRACT_TYPE                   0
AMT_ANNUITY                     372235
AMT_APPLICATION                      0
AMT_CREDIT                           1
AMT_DOWN_PAYMENT                895844
AMT_GOODS_PRICE                 385515
WEEKDAY_APPR_PROCESS_START           0
HOUR_APPR_PROCESS_START              0
FLAG_LAST_APPL_PER_CONTRACT          0
NFLAG_LAST_APPL_IN_DAY               0
RATE_DOWN_PAYMENT               895844
RATE_INTEREST_PRIMARY          1664263
RATE_INTEREST_PRIVILEGED       1664263
NAME_CASH_LOAN_PURPOSE               0
NAME_CONTRACT_STATUS                 0
DAYS_DECISION                        0
NAME_PAYMENT_TYPE                    0
CODE_REJECT_REASON                   0
NAME_TYPE_SUITE                 820405
NAME_CLIENT_TYPE                     0
NAME_GOODS_CATEGORY                  0
NAME_PORTFOLIO                       0
NAME_PRODUCT_TYPE                    0
CHANNEL_TYPE                         0
SELLERPLACE_AREA                     0
NAME_SELLER_INDUSTRY                 0
CNT_PAYMENT                     372230
NAME_YIELD_GROUP                     0
PRODUCT_COMBINATION                346
DAYS_FIRST_DRAWING              673065
DAYS_FIRST_DUE                  673065
DAYS_LAST_DUE_1ST_VERSION       673065
DAYS_LAST_DUE                   673065
DAYS_TERMINATION                673065
NFLAG_INSURED_ON_APPROVAL       673065
dtype: int64

In [37]:
df_pv_applicat.isna().mean()

SK_ID_PREV                    0.00
SK_ID_CURR                    0.00
NAME_CONTRACT_TYPE            0.00
AMT_ANNUITY                   0.22
AMT_APPLICATION               0.00
AMT_CREDIT                    0.00
AMT_DOWN_PAYMENT              0.54
AMT_GOODS_PRICE               0.23
WEEKDAY_APPR_PROCESS_START    0.00
HOUR_APPR_PROCESS_START       0.00
FLAG_LAST_APPL_PER_CONTRACT   0.00
NFLAG_LAST_APPL_IN_DAY        0.00
RATE_DOWN_PAYMENT             0.54
RATE_INTEREST_PRIMARY         1.00
RATE_INTEREST_PRIVILEGED      1.00
NAME_CASH_LOAN_PURPOSE        0.00
NAME_CONTRACT_STATUS          0.00
DAYS_DECISION                 0.00
NAME_PAYMENT_TYPE             0.00
CODE_REJECT_REASON            0.00
NAME_TYPE_SUITE               0.49
NAME_CLIENT_TYPE              0.00
NAME_GOODS_CATEGORY           0.00
NAME_PORTFOLIO                0.00
NAME_PRODUCT_TYPE             0.00
CHANNEL_TYPE                  0.00
SELLERPLACE_AREA              0.00
NAME_SELLER_INDUSTRY          0.00
CNT_PAYMENT                   0.22
NAME_YIELD_GROUP              0.00
PRODUCT_COMBINATION           0.00
DAYS_FIRST_DRAWING            0.40
DAYS_FIRST_DUE                0.40
DAYS_LAST_DUE_1ST_VERSION     0.40
DAYS_LAST_DUE                 0.40
DAYS_TERMINATION              0.40
NFLAG_INSURED_ON_APPROVAL     0.40
dtype: float64

Manipulasi Data

In [39]:

drop_col_pv = ['AMT_ANNUITY','AMT_DOWN_PAYMENT','AMT_GOODS_PRICE','RATE_DOWN_PAYMENT','RATE_INTEREST_PRIMARY',
                'RATE_INTEREST_PRIVILEGED','NAME_TYPE_SUITE','CNT_PAYMENT','DAYS_FIRST_DRAWING','DAYS_FIRST_DUE',
                'DAYS_LAST_DUE_1ST_VERSION','DAYS_LAST_DUE','DAYS_TERMINATION','NFLAG_INSURED_ON_APPROVAL']

df_pv_applicat2 = df_pv_applicat.drop(drop_col_pv, axis=1)
df_pv_applicat3 = df_pv_applicat2.dropna(axis=0)
df_pv_applicat3.shape

(1669867, 23)

In [40]:
print(df_pv_applicat3.isna().any().sum())

0

Join Dataset

In [50]:
# df_train3 and df_bureau3
df_join1 = df_train3.merge(df_bureau3, left_index=True, right_index=True, how='left')
df_join1 = df_join1.rename(columns={'SK_ID_CURR_x':'SK_ID_CURR'})
df_join1 = df_join1.dropna(axis=0)
print(df_join1.isna().any().sum())
df_join1 = df_join1.drop(['SK_ID_CURR_y','CREDIT_CURRENCY'], axis=1)
print(df_join1.shape)

0
(285949, 76)

In [51]:
# df_join1 and df_pc_balance2
df_join2 = df_join1.merge(df_pc_balance2['SK_DPD'], how='left', left_index=True, right_index=True)
print(df_join2.shape)
df_join2=df_join2.dropna(axis=0)
df_join2.isna().any().sum()

(285949, 77)

0

In [52]:
# df_join2 and df_cc_balance2
df_join3 = df_join2.merge(df_cc_balance2, how='left', left_index=True, right_index=True)
print(df_join3.shape)
df_join3.isna().any().sum()

(285446, 100)

0

In [53]:
# df_join3 and df_pay2
df_join4 = df_join3.merge(df_pay2, how='left', left_index=True, right_index=True)
print(df_join4.shape)
print(df_join4.isna().any().sum())

(285446, 108)
0

In [54]:
df_join4 = df_join4.drop(['DEF_30_CNT_SOCIAL_CIRCLE','DEF_60_CNT_SOCIAL_CIRCLE','HOUR_APPR_PROCESS_START','DAYS_REGISTRATION','REGION_POPULATION_RELATIVE','DAYS_ID_PUBLISH','CODE_GENDER','SK_ID_CURR_x','OCCUPATION_TYPE','NAME_CONTRACT_STATUS','CREDIT_TYPE','WEEKDAY_APPR_PROCESS_START','ORGANIZATION_TYPE','NAME_FAMILY_STATUS','NAME_HOUSING_TYPE','NAME_EDUCATION_TYPE','NAME_TYPE_SUITE','SK_ID_CURR','SK_ID_BUREAU','SK_ID_PREV_x','SK_ID_CURR_y','SK_DPD_y','SK_ID_PREV_y','SK_ID_CURR'], axis=1)
df_join4 = df_join4.rename(columns={'SK_DPD_x':'SK_DPD'})
print(df_join4.shape)
df_join4.head()

(285446, 85)

,TARGET,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_INCOME_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,CREDIT_ACTIVE,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,SK_DPD,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,SK_DPD_DEF,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1,Cash loans,N,Y,0,"202,500.00","406,597.50","24,700.50","351,000.00",Working,-9461,-637,0.00,1,1,0,1,1,0,1.00,2,2,0,0,0,0,0,0,2.00,2.00,"-1,134.00",0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Closed,-497.00,0.00,-153.00,0.00,"91,323.00",0.00,-131.00,0.00,-6,56.97,135000,0.00,877.50,0.00,877.50,"1,700.33","1,800.00","1,800.00",0.00,0.00,0.00,0.00,1,0.00,1.00,35.00,0,1.00,6,"-1,180.00","-1,187.00","6,948.36","6,948.36"
1,0,Cash loans,N,N,0,"270,000.00","1,293,502.50","35,698.50","1,129,500.00",State servant,-16765,-1188,0.00,1,1,0,1,1,0,2.00,1,1,0,0,0,0,0,0,1.00,1.00,-828.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Active,-208.00,0.00,"1,075.00",0.00,"225,000.00",0.00,-20.00,0.00,-1,"63,975.56",45000,"2,250.00","2,250.00",0.00,0.00,"2,250.00","2,250.00","2,250.00","60,175.08","64,875.56","64,875.56",1.00,1,0.00,0.00,69.00,0,0.00,34,"-2,156.00","-2,156.00","1,716.53","1,716.53"
2,0,Revolving loans,Y,Y,0,"67,500.00","135,000.00","6,750.00","135,000.00",Working,-19046,-225,26.00,1,1,1,1,1,0,1.00,2,2,0,0,0,0,0,0,0.00,0.00,-815.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Active,-203.00,0.00,528.00,0.00,"464,323.50",0.00,-16.00,0.00,-7,"31,815.22",450000,0.00,0.00,0.00,0.00,"2,250.00","2,250.00","2,250.00","26,926.42","31,460.08","31,460.08",0.00,0,0.00,0.00,30.00,0,2.00,1,-63.00,-63.00,"25,425.00","25,425.00"
4,0,Cash loans,N,Y,0,"121,500.00","513,000.00","21,865.50","513,000.00",Working,-19932,-3038,0.00,1,1,0,1,0,0,1.00,2,2,0,0,0,0,1,1,0.00,0.00,"-1,106.00",0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,Active,-629.00,0.00,"1,197.00",0.00,"2,700,000.00",0.00,-21.00,0.00,-1,"453,919.46",450000,0.00,"11,547.00",0.00,"11,547.00","22,924.89","27,000.00","27,000.00","443,044.40","453,919.46","453,919.46",0.00,1,0.00,1.00,101.00,0,1.00,2,"-1,383.00","-1,366.00","2,165.04","2,160.59"
5,0,Cash loans,N,Y,0,"99,000.00","490,495.50","27,517.50","454,500.00",State servant,-16941,-1588,0.00,1,1,1,1,1,0,2.00,2,2,0,0,0,0,0,0,0.00,0.00,"-2,536.00",0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Active,-273.00,0.00,"27,460.00",0.00,"180,000.00",0.00,-31.00,0.00,-7,"82,903.82",270000,0.00,0.00,0.00,0.00,"4,449.10","3,825.00","3,825.00","80,519.04","82,773.32","82,773.32",0.00,0,0.00,0.00,2.00,0,1.00,12,"-1,384.00","-1,417.00","5,970.38","5,970.38"

Prepocition

In [55]:
df_join4.dtypes

TARGET                           int64
NAME_CONTRACT_TYPE              object
FLAG_OWN_CAR                    object
FLAG_OWN_REALTY                 object
CNT_CHILDREN                     int64
AMT_INCOME_TOTAL               float64
AMT_CREDIT                     float64
AMT_ANNUITY                    float64
AMT_GOODS_PRICE                float64
NAME_INCOME_TYPE                object
DAYS_BIRTH                       int64
DAYS_EMPLOYED                    int64
OWN_CAR_AGE                    float64
FLAG_MOBIL                       int64
FLAG_EMP_PHONE                   int64
FLAG_WORK_PHONE                  int64
FLAG_CONT_MOBILE                 int64
FLAG_PHONE                       int64
FLAG_EMAIL                       int64
CNT_FAM_MEMBERS                float64
REGION_RATING_CLIENT             int64
REGION_RATING_CLIENT_W_CITY      int64
REG_REGION_NOT_LIVE_REGION       int64
REG_REGION_NOT_WORK_REGION       int64
LIVE_REGION_NOT_WORK_REGION      int64
REG_CITY_NOT_LIVE_CITY           int64
REG_CITY_NOT_WORK_CITY           int64
LIVE_CITY_NOT_WORK_CITY          int64
OBS_30_CNT_SOCIAL_CIRCLE       float64
OBS_60_CNT_SOCIAL_CIRCLE       float64
DAYS_LAST_PHONE_CHANGE         float64
FLAG_DOCUMENT_2                  int64
FLAG_DOCUMENT_3                  int64
FLAG_DOCUMENT_4                  int64
FLAG_DOCUMENT_5                  int64
FLAG_DOCUMENT_6                  int64
FLAG_DOCUMENT_7                  int64
FLAG_DOCUMENT_8                  int64
FLAG_DOCUMENT_9                  int64
FLAG_DOCUMENT_10                 int64
FLAG_DOCUMENT_11                 int64
FLAG_DOCUMENT_12                 int64
FLAG_DOCUMENT_13                 int64
FLAG_DOCUMENT_14                 int64
FLAG_DOCUMENT_15                 int64
FLAG_DOCUMENT_16                 int64
FLAG_DOCUMENT_17                 int64
FLAG_DOCUMENT_18                 int64
FLAG_DOCUMENT_19                 int64
FLAG_DOCUMENT_20                 int64
FLAG_DOCUMENT_21                 int64
CREDIT_ACTIVE                   object
DAYS_CREDIT                    float64
CREDIT_DAY_OVERDUE             float64
DAYS_CREDIT_ENDDATE            float64
CNT_CREDIT_PROLONG             float64
AMT_CREDIT_SUM                 float64
AMT_CREDIT_SUM_OVERDUE         float64
DAYS_CREDIT_UPDATE             float64
SK_DPD                         float64
MONTHS_BALANCE                   int64
AMT_BALANCE                    float64
AMT_CREDIT_LIMIT_ACTUAL          int64
AMT_DRAWINGS_ATM_CURRENT       float64
AMT_DRAWINGS_CURRENT           float64
AMT_DRAWINGS_OTHER_CURRENT     float64
AMT_DRAWINGS_POS_CURRENT       float64
AMT_INST_MIN_REGULARITY        float64
AMT_PAYMENT_CURRENT            float64
AMT_PAYMENT_TOTAL_CURRENT      float64
AMT_RECEIVABLE_PRINCIPAL       float64
AMT_RECIVABLE                  float64
AMT_TOTAL_RECEIVABLE           float64
CNT_DRAWINGS_ATM_CURRENT       float64
CNT_DRAWINGS_CURRENT             int64
CNT_DRAWINGS_OTHER_CURRENT     float64
CNT_DRAWINGS_POS_CURRENT       float64
CNT_INSTALMENT_MATURE_CUM      float64
SK_DPD_DEF                       int64
NUM_INSTALMENT_VERSION         float64
NUM_INSTALMENT_NUMBER            int64
DAYS_INSTALMENT                float64
DAYS_ENTRY_PAYMENT             float64
AMT_INSTALMENT                 float64
AMT_PAYMENT                    float64
dtype: object

Future Selecction

In [56]:
y = df_join4['TARGET']
X = df_join4.drop('TARGET', axis=1)
X_cat = X.select_dtypes(include='object')
X_num = X.select_dtypes(include='number')

In [57]:
from sklearn.preprocessing import StandardScaler
X_num_col = X_num.columns

for i in X_num_col:
    X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))

C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_num[i] = StandardScaler().fit_transform(X_num[i].values.reshape(len(X_num),1))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9808\3945430043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [58]:
# numeric and category
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif

fs = SelectKBest(score_func=f_classif, k=40)
fs.fit(X_num, y)
cols = fs.get_support(indices=True)
df_fs = X_num.iloc[:,cols]
df_fs.head()

C:\Users\ASUS\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:112: UserWarning: Features [8] are constant.
  warnings.warn("Features %s are constant." % constant_features_idx, UserWarning)
C:\Users\ASUS\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:113: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_PHONE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_6,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_11,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_21,AMT_DRAWINGS_POS_CURRENT,CNT_DRAWINGS_POS_CURRENT,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,-0.58,0.14,-0.48,-0.17,-0.51,1.51,-0.46,0.47,-0.50,1.60,-1.27,-0.10,-0.06,-0.12,-0.23,-0.29,-0.55,-0.47,0.24,0.25,-0.20,-0.01,0.63,-0.31,-0.30,-0.06,-0.06,-0.06,-0.05,-0.03,-0.10,-0.02,-0.09,-0.02,-0.06,0.26,-0.17,-0.17,-0.19,-0.18
1,-0.58,0.41,1.73,0.59,1.60,-0.17,-0.46,0.47,-0.50,1.60,-0.17,-2.07,-2.05,-0.12,-0.23,-0.29,-0.55,-0.47,-0.18,-0.17,0.17,-0.01,0.63,-0.31,-0.30,-0.06,-0.06,-0.06,-0.05,-0.03,-0.10,-0.02,-0.09,-0.02,-0.11,-0.14,-1.39,-1.38,-0.29,-0.27
2,-0.58,-0.41,-1.16,-1.41,-1.09,-0.69,-0.45,0.47,2.00,1.60,-1.27,-0.10,-0.06,-0.12,-0.23,-0.29,-0.55,-0.47,-0.59,-0.59,0.18,-0.01,-1.58,-0.31,-0.30,-0.06,-0.06,-0.06,-0.05,-0.03,-0.10,-0.02,-0.09,-0.02,-0.11,-0.14,1.22,1.24,0.16,0.14
4,-0.58,-0.19,-0.22,-0.36,-0.07,-0.89,-0.47,0.47,-0.50,-0.63,-1.27,-0.10,-0.06,-0.12,-0.23,-0.29,1.83,2.14,-0.59,-0.59,-0.17,-0.01,-1.58,-0.31,3.36,-0.06,-0.06,-0.06,-0.05,-0.03,-0.10,-0.02,-0.09,-0.02,0.62,0.26,-0.42,-0.39,-0.28,-0.26
5,-0.58,-0.29,-0.27,0.03,-0.23,-0.21,-0.46,0.47,2.00,1.60,-0.17,-0.10,-0.06,-0.12,-0.23,-0.29,-0.55,-0.47,-0.59,-0.59,-1.90,-0.01,0.63,-0.31,-0.30,-0.06,-0.06,-0.06,-0.05,-0.03,-0.10,-0.02,-0.09,-0.02,-0.11,-0.14,-0.42,-0.45,-0.21,-0.20

In [59]:
m = df_fs.columns
n = X_cat.columns
df_ready = df_join4[['CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY',
       'AMT_GOODS_PRICE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'FLAG_EMP_PHONE',
       'FLAG_WORK_PHONE', 'FLAG_PHONE', 'CNT_FAM_MEMBERS',
       'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY',
       'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
       'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY',
       'LIVE_CITY_NOT_WORK_CITY', 'OBS_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2',
       'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_8',
       'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_13',
       'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16',
       'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_21',
       'AMT_DRAWINGS_POS_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT', 'AMT_INSTALMENT',
       'AMT_PAYMENT','NAME_CONTRACT_TYPE', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
       'NAME_INCOME_TYPE', 'CREDIT_ACTIVE','TARGET']]
df_ready.head()

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_PHONE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_6,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_11,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_21,AMT_DRAWINGS_POS_CURRENT,CNT_DRAWINGS_POS_CURRENT,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_INCOME_TYPE,CREDIT_ACTIVE,TARGET
0,0,"202,500.00","406,597.50","24,700.50","351,000.00",-9461,-637,1,0,1,1.00,2,2,0,0,0,0,0,2.00,2.00,"-1,134.00",0,1,0,0,0,0,0,0,0,0,0,0,0,877.50,1.00,"-1,180.00","-1,187.00","6,948.36","6,948.36",Cash loans,N,Y,Working,Closed,1
1,0,"270,000.00","1,293,502.50","35,698.50","1,129,500.00",-16765,-1188,1,0,1,2.00,1,1,0,0,0,0,0,1.00,1.00,-828.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,"-2,156.00","-2,156.00","1,716.53","1,716.53",Cash loans,N,N,State servant,Active,0
2,0,"67,500.00","135,000.00","6,750.00","135,000.00",-19046,-225,1,1,1,1.00,2,2,0,0,0,0,0,0.00,0.00,-815.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,-63.00,-63.00,"25,425.00","25,425.00",Revolving loans,Y,Y,Working,Active,0
4,0,"121,500.00","513,000.00","21,865.50","513,000.00",-19932,-3038,1,0,0,1.00,2,2,0,0,0,1,1,0.00,0.00,"-1,106.00",0,0,0,1,0,0,0,0,0,0,0,0,0,"11,547.00",1.00,"-1,383.00","-1,366.00","2,165.04","2,160.59",Cash loans,N,Y,Working,Active,0
5,0,"99,000.00","490,495.50","27,517.50","454,500.00",-16941,-1588,1,1,1,2.00,2,2,0,0,0,0,0,0.00,0.00,"-2,536.00",0,1,0,0,0,0,0,0,0,0,0,0,0,0.00,0.00,"-1,384.00","-1,417.00","5,970.38","5,970.38",Cash loans,N,Y,State servant,Active,0

In [60]:
# Simpan df_ready ke komputer, beri nama data_ready.csv
df_ready.to_csv('data_ready.csv', index=False)